anyio
attrs
beautifulsoup4
blinker
cattrs
certifi
charset-normalizer
click
fastapi
feedparser
Flask
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
platformdirs
pydantic
python-dateutil
python-dotenv
requests
requests-cache
rfc3986
sgmllib3k
six
sniffio
soupsieve
starlette
typing_extensions
url-normalize
urllib3
uvicorn
Werkzeug
