html,
body {
  height: 100%;
}

body {
  background-color: #f6f5ee;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
  padding-top: inherit;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

.h2,
h2 {
  font-size: 1rem;
  font-weight: 900;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

p.desc {
  font-size: 0.8rem;
  font-weight: 400;
}

a {
  color: #2b4058;
  text-decoration: none;
  background-color: transparent;
}

.headline {
  border: 1px solid #ccc;
  background-color: white;
  width: 180px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.headline img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.fill {
  background-size: cover;
  background-position: center;
  background-color: #e6dece;
}

.bg-light {
  background-color: #dcd7cc !important;
}

.flex-grow {
  flex: 1 0 auto;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-brand {
  font-size: 1.25rem;
  font-weight: 700;
}
.navbar-light .navbar-brand {
  color: #9e9687;
}

.flags {
  padding-right: 10px;
  width: 30px;
}

h2.top-left a {
  position: absolute;
  top: 8px;
  left: 16px;
}

.subpic1 {
  color: white;
  background-color: black;
  padding: 0px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin: 0;
  font-size: 65%;
  font-weight: 400;
}

.subpic2 {
  color: white;
  background-color: black;
  padding: 0px;
  padding-left: 7px;
  padding-bottom: 3px;
  font-weight: bold;
}
.fi{
  margin-left:10px;
  width: 1.1em;
}
.txtwhite {
  color: #fff;
  text-shadow: rgb(56 53 1) 1px 0px 3px;
}
.flagnav{
  color:white
}
.txtwhite:hover {
  color: #e6dece;
  text-shadow: rgb(56 53 1) 1px 0px 2px;
  text-decoration: none;
}
.txtblack {
  color: black;
  text-shadow: rgb(255, 255, 255) 1px 1px 2px;
}
.txtblack:hover {
  color: #e6dece;
  text-shadow: rgb(56 53 1) 1px 0px 2px;
  text-decoration: none;
}

.wp-caption {
  position: relative;
  padding: 0;
  margin: 0;
}

.wp-caption img {
  display: block;
  max-width: 100%;
  height: 135px;
  opacity: 0.4;
  filter: contrast(200%);
}

.wp-caption:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
  z-index: 1;
}
.wp-caption-text {
  display: block;
  position: absolute;
  width: 100%;
  top: 8px;
  left: -5px;
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
  font-weight: 500;
  line-height: 1.1;
  font-size: 90%;
  z-index: 10;
  box-sizing: border-box;
}

@media (max-width:421px) {
  h1 {
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .headline img {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width:576px) {
  .navbar-nav {
    display: -webkit-inline-box;
  }
}