{% extends "base.html" %}

{% block content %}
<h1>Press Review {{date}}</h1>
<div id="flagsContainer"></div>
<div class="d-flex flex-wrap">
    {% for article in articles%}

    <div class="headline fill m-2 p-2 flex-fill">
        <div style="max-width: 100%;">
            <img src="{{article.image}}" class="img-fluid mb-3 w-100" onerror="this.src='/static/no-img.png';">
            <p>{{article.paper}} - <strong>{{article.published}}</strong></p>
            <h2><a href="{{article.link}}" target="_blank">{{article.title}}</a></h2>
            <p class="desc">{{article.description}}</p>
        </div>        
    </div>

{% endfor%}
</div>

<script>
// Array of language objects
var languages = [
  { name: "en",},
  { name: "fr",},
  { name: "id",},

];

function generateLanguageFlags(languages) {
  var flagsHTML = "";

  for (var i = 0; i < languages.length; i++) {
    var language = languages[i];
    var flagHTML = '<a href="/' + language.name + '">';
    flagHTML += '<img class="flags" src="/static/flags/' + language.name + '.png" alt="' + language.name + '">';
    flagHTML += '</a>';

    flagsHTML += flagHTML;
  }

  return flagsHTML;
}
var container = document.getElementById("flagsContainer");
container.innerHTML = generateLanguageFlags(languages);

</script>


{% endblock %}

