{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{date}}</a>
  <!--div id="flagsContainer"></div-->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mt-0" id="flagsContainer">
      <!--
      <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
      -->
    </ul>
  </div>
</nav>
<div class="d-flex flex-wrap">
    {% for article in articles%}

    <div class="headline fill m-2 p-2 flex-fill">
        <div style="max-width: 100%;">
            <img src="{{article.image}}" class="img-fluid mb-3 w-100" onerror="this.src='/static/no-img.png';">
            <p>{{article.paper}} - <strong>{{article.published}}</strong></p>
            <h2><a href="{{article.link}}" target="_blank">{{article.title}}</a></h2>
            <p class="desc">{{article.description}}</p>
        </div>        
    </div>

{% endfor%}
</div>

<script>
// Array of language objects
var languages = [
  { name: "en",},
  { name: "fr",},
  { name: "id",},

];

function generateLanguageFlags(languages) {
  var flagsHTML = "";

  for (var i = 0; i < languages.length; i++) {
    var language = languages[i];
    var flagHTML = '<li class="nav-item">';
    flagHTML += '<a href="/' + language.name + '">';
    flagHTML += '<img class="flags" src="/static/flags/' + language.name + '.png" alt="' + language.name + '">';
    flagHTML += '</a>';
    flagHTML += '</li>';

    flagsHTML += flagHTML;
  }

  return flagsHTML;
}
var container = document.getElementById("flagsContainer");
container.innerHTML = generateLanguageFlags(languages);

</script>


{% endblock %}

